.calculatingScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 24px;
  background: var(--dark-grey-bg);
  color: var(--bg);
  height: 100%;
}

.title {
  opacity: 0.8;
}
